[submodule "roles/geerlingguy.docker"]
	path = roles/geerlingguy.docker
	url = https://github.com/geerlingguy/ansible-role-docker.git
[submodule "roles/senorsmile.docker"]
	path = roles/senorsmile.docker
	url = https://github.com/senorsmile/ansible-role-docker.git
